<%- include('./_partials/header') %>
<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <div class="col-lg-6 mb-4 order-0">
        <div class="card">
          <div class="d-flex align-items-end row">
            <div class="col-12">
              <div class="card-body">
                <h5 class="card-title text-primary">Xoş gəldin!</h5>
                <p class="mb-4"> Yolumuz hələ uzundur. Çalışmaq lazımdır, istifadəçilərimizin yeni xəbərlərə ehtiyacları var! </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="social-media">
      <div class="row">
        <div class="col-lg-4 mb-4 order-0 youtube">
          <div class="card">
            <div class="d-flex align-items-end row">
              <div class="col-12">
                <div class="card-body text-center">
                  <i class='bx bxl-youtube' style="color: #CD201F; font-size: 50px;"></i>
                  <h5 class="card-title" style="color: #CD201F;">
                    <strong>YouTube</strong>
                  </h5>
                  <p class="mb-0">
                    <%= socialMediaStatistics.youTubeSubscribers %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4 order-0 youtube">
          <div class="card">
            <div class="d-flex align-items-end row">
              <div class="col-12">
                <div class="card-body text-center">
                  <i class='bx bxl-facebook' style="color: #3B5998; font-size: 50px;"></i>
                  <h5 class="card-title" style="color: #3B5998;">
                    <strong>Facebook</strong>
                  </h5>
                  <p class="mb-0">
                    <%= socialMediaStatistics.youTubeSubscribers %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4 order-0 youtube">
          <div class="card">
            <div class="d-flex align-items-end row">
              <div class="col-12">
                <div class="card-body text-center">
                  <i class='bx bxl-twitter' style="color: #0084B4; font-size: 50px;"></i>
                  <h5 class="card-title" style="color: #0084B4;">
                    <strong>Twitter</strong>
                  </h5>
                  <p class="mb-0">
                    <%= socialMediaStatistics.youTubeSubscribers %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('./_partials/footer') %>