<%- include('./_partials/meta') %>
	<%- include('./_partials/header') %>
	<%- include('./items/breadcrumb') %>


		<!-- Page heading -->
		<div class="container p-t-4 p-b-40 bg0">
			<h2 class="f1-l-1 cl2">
				<%= title %>
			</h2>
		</div>

		<!-- Post -->
		<section>
			<div class="container bg0 p-b-55">
				<div class="row justify-content-center">
					<div class="col-md-10 col-lg-8 p-b-80">
						<div class="p-r-10 p-r-0-sr991">
							<div class="m-t--40 p-b-40">
								<!-- Item post -->
								<% allNews.forEach((news)=> { %>
									<div class="flex-wr-sb-s p-t-40 p-b-15 how-bor2">
										<a href="/news-detail/<%= news.key %>"
											class="size-w-8 wrap-pic-w hov1 trans-03 w-full-sr575 m-b-25">
											<img src="/images/news/<%= news.img %>" alt="<%= news.title %>">
										</a>

										<div class="size-w-9 w-full-sr575 m-b-25">
											<h5 class="p-b-12">
												<a href="/news-detail/<%= news.key %>"
													class="f1-l-1 cl2 hov-cl10 trans-03 respon2 font-weight-bold">
													<%= news.title %>
												</a>
											</h5>

											<div class="cl8 p-b-18">
												<a href="javascript:void(0)" class="f1-s-4 cl8 hov-cl10 trans-03">
													Yüklədi: <%= news.createdBy=='00000000-0000-0000-0000-00000000' ? 'Avtomatik' : 'null' %>
												</a>

												<span class="f1-s-3 m-rl-3">
													-
												</span>

												<span class="f1-s-3">
													<%= moment(news.createdAt).format('LL') %>
												</span>
											</div>

											<p class="f1-s-1 cl6 p-b-24">
												Duis eu felis id tortor congue consequat. Sed vitae vestibulum enim, et
												pharetra magna
											</p>

											<a href="/news-detail/<%= news.key %>" class="f1-s-1 cl9 hov-cl10 trans-03">
												Ətraflı bax
												<i class="fa fa-long-arrow-alt-right m-l-2"></i>
											</a>
										</div>
									</div>
									<% }) %>
							</div>

							<a href="#" class="flex-c-c bo-all-1 bocl11 f1-m-6 cl6 hov-btn1 trans-03 p-3">
								Daha çox yüklə
							</a>
						</div>
					</div>

					<div class="col-md-10 col-lg-4 p-b-80">
						<div class="p-l-10 p-rl-0-sr991">
							<%- include('./items/subscription_small') %>
							<%- include('./items/most_popular') %>

							<!-- Ads banner -->
							<div class="flex-c-s p-b-50">
								<a href="#">
									<img class="max-w-full" src="/images/banners/banner-02.jpg" alt="IMG">
								</a>
							</div>

							<%- include('./items/tags') %>
						</div>
					</div>
				</div>
			</div>
		</section>







		<%- include('./_partials/footer') %>