<%- include('./_partials/head') %>
<%- include('./_partials/header') %>
<!-- Page heading -->

<div class="banner-container d-flex justify-content-between">
	<div id="left-banner" class="d-none d-lg-block">
		<a href="#">
			<img src="/images/banners/banner_160x600.png" alt="Banner" style="max-width: 100%; height: auto; display: block;">
		</a>
	</div>
	<div>
		<%- include('./items/breadcrumb') %>
			<div class="container bg0 p-t-4 p-b-35">
				<h1 class="f1-l-1 cl2" title="<%= title %>">
					<%= title %>
				</h1>
			</div>

			<!-- Content -->
			<section>
				<div class="container bg0 p-b-110">
					<div class="row justify-content-center">
						<div class="col-md-10 col-lg-8 p-b-30 text-justify">
							<div class="p-r-10 p-r-0-sr991">
								<p class="f1-s-11 cl6 p-b-25">
									Müasir dövrdə informasiya mühitində ənənəvi stereotiplərin yenilikçi
									üsullarla
									əvəzlənməsi tendensiyası müşahidə olunmaqdadır. Maraqlı və unikal təqdimat
									hazırda
									gələcək inkişafın açarı kimi önəmlidir. Sporter.az yeni idman platforması
									olaraq
									2024-cü ildən qarşısına izləyiciləri keyfiyyətli və maraqlı məzmunlarla
									təmin etmək
									məqsədini qoyub. Müxtəlif idman kateqoriyalarına aid xəbərlər və mövzu üzrə
									multimedia materialları ilə saytımızda tanış ola bilərsiniz. "Sporter"
									sosial
									şəbəkələr və digər platformalarda da cəlbedici layihələri ilə xidmətinizdə
									olacaqdır. Bizi izləməyi unutmayın.
								</p>
								<p>
									<span class="fw-bold">Bizimlə əlaqə: </span>
									<a href="tel:+994516025902" class="text-decoration-none" style="color: #666;"> +994(51) 602-59-02 </a>
								</p>
								<p>
									<span class="fw-bold">Email: </span>
									<a href="mailto:info@sporter.az" class="text-decoration-none" style="color: #666;"> info@sporter.az </a>
								</p>
							</div>
						</div>

						<!-- Sidebar -->
						<div class="col-md-4 col-lg-4 p-b-30">
							<div class="p-l-10 p-rl-0-sr991 p-t-5">
								<!-- Banner -->
								<div class="flex-c-s p-b-20">
									<div class="flex-c-c justify-content-around flex-lg-row flex-column"
										style="row-gap: 10px;">
										<a href="#">
											<img class="max-w-full" src="/images/banners/banner_320x100.png" alt="Banner">
										</a>
									</div>
								</div>
								<%- include('./items/subscription_small') %>
								<%- include('./items/stay_connected') %>
							</div>
						</div>
					</div>
				</div>
			</section>
	</div>
	<div id="right-banner" class="d-none d-lg-block">
		<a href="#">
			<img src="/images/banners/banner_160x600.png" alt="Banner" style="max-width: 100%; height: auto; display: block;">
		</a>
	</div>
</div>

<%- include('./_partials/footer') %>