<%- include('./_partials/head') %>
<%- include('./_partials/header') %>

<!-- Content -->
<section>
    <div class="container bg0 p-tb-50">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-8 p-tb-50 text-center">
                <p class="fs-40 clblack" style="font-weight: bold;"><%= error.status %> - <%= error.message %></p>
                <p class="fs-16 m-t-10 m-b-20"><%= error.content %></p>
                <a href="javascript:history.back()" class="f1-m-6 cl6 hov-btn1 trans-03 p-tb-10 p-rl-20 d-inline-block bo-all-1 bocl11 m-r-50 text-decoration-none" title="Əvvəlki səhifəyə qayıt"> <i class="fa-solid fa-rotate-left m-r-5  fs-16"></i> Arxaya </a>
                <a href="/" class="f1-m-6 cl6 hov-btn1 trans-03 p-tb-10 p-rl-20 d-inline-block bo-all-1 bocl11 text-decoration-none" title="Ana səhifəyə qayıt"> <i class="fa-solid fa-house-chimney m-r-5  fs-16"></i> Ana səhifə </a>
            </div>
        </div>
    </div>
</section>

<%- include('./_partials/footer') %>