<%- include('./_partials/head') %>
  <%- include('./_partials/header') %>

    <div class="banner-container d-lg-flex justify-content-between">
      <div style="position: sticky;z-index: -10;top: 50px;height: fit-content; width: 160px;">
        <div id="left-banner" class="d-none d-lg-block">
          <a href="#">
            <img src="/images/banners/banner_160x600.png" alt="Banner" style="max-width: 100%; height: auto; display: block;">
          </a>
        </div>
      </div>
      <div class="w-100">
        <% if (trendNews.length> 0) { %>
          <section class="container p-t-20 trending bg0">
            <div class="bg0 flex-wr-sb-c">
              <div class="f2-s-1 size-w-0 m-tb-6 d-flex align-items-center flex-row justify-content-between overflow-hidden">
                <div class="text-uppercase p-r-8 trending-txt">
                  <span class="d-none d-md-block">Trenddə olanlar:</span>
                  <div class="d-block d-md-none f2-s-1">
                    <i class="fa-solid fa-bolt"></i>
                  </div>
                </div>
                <div class="d-flex align-items-center overflow-hidden" style="flex: 1;">
                  <ul class="running-text" style="animation-duration: 20s;" role="tablist">
                    <% trendNews.forEach((news)=> { %>
                      <li role="tab">
                        <a href="/news/news-detail?key=<%= news.key %>"><%= news.title %></a>
                      </li>
                    <% }) %>
                  </ul>
                </div>
              </div>
            </div>
          </section>
          <% } %>

            <!-- Banner -->
            <section class="container bg0 p-t-20 p-b-20">
              <div class="flex-c-c justify-content-between flex-md-row flex-column" style="row-gap: 10px;">
                <div class="">
                  <a href="#">
                    <img class="max-w-full" src="/images/banners/banner_320x100.png" alt="Banner">
                  </a>
                </div>
                <div class="d-none d-md-block">
                  <a href="#">
                    <img class="max-w-full" src="/images/banners/banner_320x100.png" alt="Banner">
                  </a>
                </div>
                <div class="d-none d-lg-block">
                  <a href="#">
                    <img class="max-w-full" src="/images/banners/banner_320x100.png" alt="Banner">
                  </a>
                </div>
              </div>
            </section>

            <!-- Head news -->
            <% if(headNews.length > 0 && headNews.length == 5) { %>
            <section class="container bg0">
                <div class="row m-rl--1">
                    <% let firstNews = headNews[0]; %>
                    <div class="col-md-6 p-rl-1 p-b-2">
                      <div class="bg-img1 ratio ratio-4x3 how1 pos-relative" title="<%= firstNews.title.replaceAll('"', '') %>">
                        <img src="/images/news/<%= firstNews.img %>" alt="<%= firstNews.title.replaceAll('"', '') %>" onerror="setDefaultImage(this)">
                        <a href="/news/news-detail?key=<%= firstNews.key %>" class="dis-block how1-child1 trans-03 text-decoration-none" aria-label="<%= firstNews.title.replaceAll('"', '') %>"></a>
                        <div class="flex-col-e-s s-full p-rl-25 p-tb-20">
                          <a href="/news?category=<%= firstNews.category.key %>" title="<%= firstNews.category.name %>" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2 text-decoration-none">
                            <%= firstNews.category.name %>
                          </a>
                          <h3 class="how1-child2 m-t-14 m-b-10">
                            <a href="/news/news-detail?key=<%= firstNews.key %>" title="<%= firstNews.title.replaceAll('"', '') %>" class="how-txt1 size-a-6 f1-l-2 cl0 hov-cl10 trans-03 text-decoration-none">
                              <%= firstNews.title %>
                            </a>
                          </h3>
                          <span class="how1-child2">
                            <span class="f1-s-2 cl0">
                              <%= moment(firstNews.sharedAt).format('LL') %>
                            </span>
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 p-rl-1">
                      <div class="row m-rl--1">
                        <% for (let i = 1; i < headNews.length; i++) { %>
                          <% let news = headNews[i]; %>
                          <div class="col-sm-6 p-rl-1 p-b-2">
                            <div class="bg-img1 ratio ratio-4x3 how1 pos-relative" title="<%= news.title.replaceAll('"', '') %></div>">
                              <img src="/images/news/<%= news.img %>" alt="<%= news.title.replaceAll('"', '') %>" onerror="setDefaultImage(this)">
                              <a href="/news/news-detail?key=<%= news.key %>" class="dis-block how1-child1 trans-03 text-decoration-none" aria-label="<%= news.title.replaceAll('"', '') %>"></a>
                              <div class="flex-col-e-s s-full p-rl-10 p-tb-10">
                                <a href="/news?category=<%= news.category.key %>" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2 text-decoration-none">
                                  <%= news.category.name %>
                                </a>
                                <a href="/news/news-detail?key=<%= news.key %>" class="how1-child2 m-t-10 how-txt1 size-a-7 f1-m-1 cl0 hov-cl10 trans-03 text-decoration-none">
                                  <%= news.title %>
                                </a>
                                <span class="how1-child2">
                                  <span class="f1-s-2 cl0">
                                    <%= moment(news.sharedAt).format('LL') %>
                                  </span>
                                </span>
                              </div>
                            </div>
                          </div>
                        <% } %>
                      </div>
                    </div>
                  </div>
              </section>
            <% } %>

            <!-- Banner -->
            <% if (headNews.length == 5) { %>
              <section class="container bg0 p-t-20 p-b-20">
                <div class="flex-c-c justify-content-between flex-md-row flex-column" style="row-gap: 10px;">
                  <div class="">
                    <a href="#">
                      <img class="max-w-full" src="/images/banners/banner_320x100.png" alt="Banner">
                    </a>
                  </div>
                  <div class="d-none d-md-block">
                    <a href="#">
                      <img class="max-w-full" src="/images/banners/banner_320x100.png" alt="Banner">
                    </a>
                  </div>
                  <div class="d-none d-lg-block">
                    <a href="#">
                      <img class="max-w-full" src="/images/banners/banner_320x100.png" alt="Banner">
                    </a>
                  </div>
                </div>
              </section>
            <% } %>

            <!-- Post -->
            <section>
              <div class="container bg0 p-t-20">
                <div class="row justify-content-center">
                  <div class="col-md-12 col-lg-8">
                    <div class="p-b-20">
                      <!-- Categories -->
                      <% categoryArray.forEach((category)=> { %>
                        <div class="tab01 p-b-20">
                          <div class="tab01-head how2 how2-cl4 bocl12 flex-s-c m-r-10 m-r-0-sr991">
                            <!-- Brand tab -->
                            <span class="f1-m-2 cl3 tab01-title">
                              <%= category.name %>
                            </span>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                              <% category.tags.forEach((tag, id)=> { %>
                                <li class="nav-item" role="presentation">
                                  <a class="nav-link <%= id == 0 ? 'active' : '' %> text-decoration-none" id="<%= category.key %>-<%= tag.key %>-tab"
                                    data-bs-toggle="tab" href="#<%= tag.key %>-<%= category.key %>" role="tab" title="<%= tag.name %>" aria-controls="<%= tag.key %>-<%= category.key %>" aria-selected="<%= id === 0 ? 'true' : 'false' %>">
                                    <%= tag.name %>
                                  </a>
                                </li>
                              <% }) %>
                              <li class="nav-item-more dropdown dis-none" role="presentation">
                                <div class="dropdown">
                                  <a href="#" class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" role="tab" aria-expanded="false" title="Taglar" aria-haspopup="true" aria-controls="dropdown-menu">
                                    Taglar
                                    <i class="fa-solid fa-chevron-down fs-12" style="margin-left: 6px;"></i>
                                  </a>
                                  <ul class="dropdown-menu" id="<%= category.key %>-dropdown-menu" role="tablist" aria-labelledby="<%= category.key %>-dropdown-menu"></ul>
                                </div>
                              </li>
                            </ul>

                            <!-- View all button -->
                            <a href="/news?category=<%= category.key %>"
                              class="tab01-link f1-s-1 cl19 hov-cl10 trans-03 text-decoration-none">
                              Hamısı
                              <i class="fs-12 m-l-5 fa fa-caret-right"></i>
                            </a>
                          </div>

                          <!-- Tab panes -->
                          <div class="tab-content p-t-35" role="tablist">
                            <!-- Category List -->
                            <% category.tags.forEach((tag, id)=> { %>
                              <div class="tab-pane fade show <%= id === 0 ? 'active' : '' %>" role="tab" id="<%= tag.key %>-<%= category.key %>" aria-labelledby="<%= category.key %>-<%= tag.key %>-tab">
                                <div class="row" role="tabpanel">
                                  <!-- Item post -->
                                  <% tag.news.forEach((nws)=> { %>
                                    <div class="flex-wr-sb-s m-b-30 col-12 col-sm-6" role="complementary">
                                      <a href="/news/news-detail?key=<%= nws.key %>" class="size-w-1 wrap-pic-w hov1 trans-03 text-decoration-none"
                                        style="height: 60px;" aria-label="<%= nws.title.replaceAll('"', "") %>">
                                        <img src="/images/news/<%= nws.img %>" alt="<%= nws.title.replaceAll('"', "") %>" class="object-fit-cover h-100 lazyload" style="aspect-ratio: 4/3;" loading="lazy" onerror="setDefaultImage(this)">
                                      </a>
                                      <div class="size-w-2">
                                        <a href="/news/news-detail?key=<%= nws.key %>"
                                          class="p-b-5 f1-s-5 cl3 hov-cl10 trans-03 fw-bold text-decoration-none d-block" aria-label="<%= nws.title.replaceAll('"', "") %>">
                                          <%= nws.title %>
                                        </a>
                                        <span class="cl19 f1-s-3">
                                          <%= moment(nws.sharedAt).format('LL') %>
                                        </span>
                                      </div>
                                    </div>
                                  <% }) %>
                                </div>
                              </div>
                            <% }) %>
                          </div>
                        </div>
                        <% }) %>
                    </div>
                  </div>

                  <div class="col-md-12 col-lg-4">
                    <div class="p-l-10 p-rl-0-sr991 p-b-20">
                      <%- include('./items/most_popular') %>

                      <!-- Banner -->
                      <div class="flex-c-s">
                        <div class="d-none d-lg-block">
                          
                        </div>
                      </div>

                      <%- include('./items/stay_connected') %>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!-- Banner -->
            <section class="container bg0">
              <div class="flex-c-c justify-content-between flex-md-row flex-column" style="row-gap: 10px;">
                <div class="">
                  <a href="#">
                    <img class="max-w-full" src="/images/banners/banner_300x250.png" alt="Banner">
                  </a>
                </div>
                <div class="d-none d-md-block">
                  <a href="#">
                    <img class="max-w-full" src="/images/banners/banner_300x250.png" alt="Banner">
                  </a>
                </div>
                <div class="d-none d-lg-block">
                  <a href="#">
                    <img class="max-w-full" src="/images/banners/banner_300x250.png" alt="Banner">
                  </a>
                </div>
              </div>
            </section>

            <!-- Latest -->
            <section>
              <div class="container p-t-60 p-b-35 bg0">
                <div class="row justify-content-center">
                  <%- include('./items/last_news') %>
                  <div class="col-md-12 col-lg-4">
                    <div class="p-l-10 p-rl-0-sr991 p-b-20">
                      <%- include('./items/youtube_video') %>
                      <%- include('./items/tags') %>
                    </div>
                  </div>
                </div>
              </div>
            </section>
      </div>
      <div style="position: sticky;z-index: -10;top: 50px;height: fit-content; width: 160px;">
        <div id="right-banner" class="d-none d-lg-block">
          <a href="#">
            <img src="/images/banners/banner_160x600.png" alt="Banner" style="max-width: 100%; height: auto; display: block;">
          </a>
        </div>
      </div>
    </div>

    <%- include('./_partials/footer') %>