<%- include('./_partials/head') %>
<%- include('./_partials/header') %>

<div class="banner-container d-flex justify-content-between">
	<div id="left-banner" class="d-none d-lg-block">
		<a href="#">
			<img src="/images/banners/banner_160x600.png" alt="Banner" style="max-width: 100%; height: auto; display: block;">
		</a>
	</div>
	<div>
		<%- include('./items/breadcrumb') %>
		<!-- Page heading -->
		<div class="container p-t-4 p-b-40 bg0">
			<h2 class="f1-l-1 cl2">
				<%= title %>
			</h2>
		</div>

		<!-- Post -->
		<section>
			<div class="container bg0 p-b-55">
				<div class="row justify-content-center">
					<div class="col-md-10 col-lg-8 p-b-80">
						<div class="p-r-10 p-r-0-sr991">
							<div class="m-t--40 p-b-40">
								<!-- Item post -->
								<% allNews.forEach((news)=> { %>
									<div class="flex-wr-sb-s p-t-40 p-b-15 how-bor2">
										<a href="/news/news-detail?key=<%= news.key %>" class="size-w-8 wrap-pic-w hov1 trans-03 w-full-sr575 m-b-25 text-decoration-none" style="height: 200px;">
											<img src="/images/news/<%= news.img %>" alt="<%= news.title %>" class="object-fit-cover h-100">
										</a>

										<div class="size-w-9 w-full-sr575 m-b-25">
											<h5 class="p-b-12">
												<a href="/news/news-detail?key=<%= news.key %>" class="f1-l-1 cl2 hov-cl10 trans-03 respon2 fw-bold text-decoration-none">
													<%= news.title %>
												</a>
											</h5>

											<div class="cl8 p-b-18">
												<span class="f1-s-3">
													<%= moment(news.createdAt).format('LL') %>
												</span>
											</div>

											<%- news.content.replace(/<[^>]*>/g, '').slice(0, 150) + '...' %>

											<a href="/news/news-detail?key=<%= news.key %>" class="f1-s-1 cl9 hov-cl10 trans-03 text-decoration-none p-t-10 d-block"">
												Ətraflı bax
												<i class="fa fa-long-arrow-alt-right m-l-2"></i>
											</a>
										</div>
									</div>
								<% }) %>
							</div>

							<% if (allNews.length >= 10) { %>
								<button id="loadMore" class="flex-c-c bo-all-1 bocl11 f1-m-6 cl6 hov-btn1 trans-03 p-3 text-decoration-none w-100">
									Daha çox yüklə
								</button>
							<% } %>
						</div>
					</div>

					<div class="col-md-10 col-lg-4 p-b-80">
						<div class="p-l-10 p-rl-0-sr991">
							<div class="flex-c-s p-b-20">
								<a href="#">
									<img class="max-w-full" src="/images/banners/banner_320x100.png" alt="Banner">
								</a>
							</div>

							<%- include('./items/subscription_small') %>
							<%- include('./items/most_popular') %>

							<!-- Ads banner -->
							<div class="flex-c-s p-b-50">
								<a href="#">
									<img class="max-w-full" src="/images/banners/banner_160x600.png"
										alt="IMG">
								</a>
							</div>

							<%- include('./items/tags') %>

							<div class="flex-c-s p-b-50">
								<a href="#">
									<img class="max-w-full"
										src="/images/banners/banner_300x250.png" alt="IMG">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div id="right-banner" class="d-none d-lg-block">
		<a href="#">
			<img src="/images/banners/banner_160x600.png" alt="Banner"
				style="max-width: 100%; height: auto; display: block;">
		</a>
	</div>
</div>



<%- include('./_partials/footer') %>