<%- include('./_partials/head') %>
<%- include('./_partials/header') %>

<div class="banner-container d-flex justify-content-between">
	<div style="position: sticky;z-index: -10;top: 50px;height: fit-content; width: 160px;">
		<div id="left-banner" class="d-none d-lg-block">
			<a href="#">
				<img src="/images/banners/banner_160x600.png" alt="Banner" style="max-width: 100%; height: auto; display: block;">
			</a>
		</div>
	</div>
	<div class="w-100">
		<%- include('./items/breadcrumb') %>
		<!-- Page heading -->
		<div class="container p-t-4 p-b-40 bg0">
			<h1 class="f1-l-1 cl2">
				<%= title %>
			</h1>
		</div>

		<!-- Post -->
		<section>
			<div class="container bg0 p-b-55">
				<div class="row justify-content-center">
					<div class="col-md-12 col-lg-8 p-b-80">
						<div class="p-r-10 p-r-0-sr991">
							<div class="m-t--40 p-b-40" id="news-items"></div>
							<% if (newsLength && newsLength > 10) { %>
								<button id="load-more" class="flex-c-c bo-all-1 bocl11 f1-m-6 cl6 hov-btn1 trans-03 p-3 text-decoration-none w-100">
									Daha çox yüklə
								</button>
							<% } %>
						</div>
					</div>

					<div class="col-md-12 col-lg-4 p-b-80">
						<div class="p-l-10 p-rl-0-sr991">
							<div class="flex-c-s p-b-20">
								<a href="#">
									<img class="max-w-full" src="/images/banners/banner_320x100.png" alt="Banner">
								</a>
							</div>

							<%- include('./items/most_popular') %>

							<!-- Ads banner -->
							<div class="flex-c-s p-b-50">
								<a href="#">
									<img class="max-w-full" src="/images/banners/banner_160x600.png"
										alt="IMG">
								</a>
							</div>

							<%- include('./items/tags') %>

							<div class="flex-c-s p-b-50">
								<a href="#">
									<img class="max-w-full" src="/images/banners/banner_300x250.png" alt="IMG">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div style="position: sticky;z-index: -10;top: 50px;height: fit-content; width: 160px;">
		<div id="right-banner" class="d-none d-lg-block">
			<a href="#">
				<img src="/images/banners/banner_160x600.png" alt="Banner" style="max-width: 100%; height: auto; display: block;">
			</a>
		</div>
	</div>
</div>



<%- include('./_partials/footer') %>