<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/icons/favicon.png" />
    <!--===============================================================================================-->
    <!-- <link rel="stylesheet" type="text/css" href="/libs/vendor/index/bootstrap/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
        integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="/libs/vendor/index/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/libs/vendor/index/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/libs/vendor/index/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/libs/vendor/index/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/index/util.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/index/main.css">
    <!--===============================================================================================-->

    <title>
        <%= title %>
    </title>
    <meta name="author" content="SporterAz">
    <meta name="revised" content="SporterAz">
    <meta name="keywords" content="<%= selectedNews.content.replace(/<[^>]*>/g, '').slice(0, 150) %>">
    <meta name="description" content="<%= selectedNews.content.replace(/<[^>]*>/g, '').slice(0, 150) %>">

    <!-- * Meta tags for Facebook and LinkedIn -->
    <meta name="og:locale" content="az_AZ">
    <meta name="og:type" content="news">
    <meta name="og:url" content="https://sporter.az/news/news-detail?key=<%= selectedNews.key %>">
    <meta name="og:title" content="<%= selectedNews.title %>">
    <meta name="og:description" content="<%= selectedNews.content.replace(/<[^>]*>/g, '').slice(0, 150) %>">
    <meta name="og:site_name" content="Sporter İdman İnformasiya Agentliyi">
    <!-- Image for Facebook -->
    <meta name="og:image" content="https://sporter.az/public/images/news/<%= selectedNews.img %>">
    <meta name="og:image:width" content="1000">
    <meta name="og:image:height" content="1000">
    <meta name="og:image:alt" content="<%= selectedNews.title %>">
    <!-- Image for Linkedin -->
    <meta name="og:image" content="https://sporter.az/public/images/news/<%= selectedNews.img %>">
    <meta name="og:image:width" content="180">
    <meta name="og:image:height" content="110">
    <meta name="og:image:alt" content="<%= selectedNews.title %>">

    <!-- * Meta tags for Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Sporteraz">
    <meta name="twitter:creator" content="@Sporteraz">
    <meta name="twitter:title" content="<%= selectedNews.title %>">
    <meta name="twitter:description" content="<%= selectedNews.content.replace(/<[^>]*>/g, '').slice(0, 150) %>">
    <meta name="twitter:url" content="https://sporter.az/news/news-detail?key=<%= selectedNews.key %>">
    <meta name="twitter:image" content="https://sporter.az/public/images/news/<%= selectedNews.img %>">
    <meta name="twitter:image:alt" content="<%= selectedNews.title %>">
</head>

<body class="animsition" style="background-color: rgb(239, 239, 239);">
    <%- include('./_partials/header') %>

        <div class="banner-container d-flex justify-content-between">
            <div id="left-banner" class="d-none d-lg-block">
                <a href="#">
                    <img src="/images/banners/banner_160x600.png" alt="Banner"
                        style="max-width: 100%; height: auto; display: block;">
                </a>
            </div>
            <div>
                <!-- Breadcrumb -->
                <div class="container p-t-10 p-b-10 bg0">
                    <div class="headline flex-wr-sb-c p-rl-20 p-tb-8">
                        <div class="f2-s-1 p-r-30 m-tb-6">
                            <div class="breadcrumb">
                                <a href="/" class="breadcrumb-item f1-s-3 cl9 text-decoration-none">
                                    Ana səhifə
                                </a>
                                <a href="/news" class="breadcrumb-item f1-s-3 cl9 text-decoration-none">
                                    Xəbərlər
                                </a>
                                <span class="breadcrumb-item active f1-s-3 cl9" aria-current="page">
                                    <%= name %>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <section>
                    <div class="container bg0">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-8 p-b-30">
                                <div class="p-r-10 p-r-0-sr991">
                                    <!-- Blog Detail -->
                                    <div class="p-b-70">
                                        <a href="/news?category=<%= selectedNews.category.key %>"
                                            class="f1-s-10 cl2 hov-cl10 trans-03 text-uppercase text-decoration-none">
                                            <%= selectedNews.category.name %>
                                        </a>

                                        <h3 class="f1-l-3 cl2 p-b-16 p-t-33 respon2">
                                            <%= selectedNews.title %>
                                        </h3>

                                        <div class="flex-wr-s-s p-b-40">
                                            <span class="f1-s-3 cl8 m-r-15">
                                                <span>
                                                    <%= moment(selectedNews.createdAt).format('LL') %>
                                                </span>
                                            </span>
                                        </div>

                                        <div class="bg-img1 size-a-18 how-overlay1"
                                            style="background-image: url('/images/news/<%= selectedNews.img %>'); height: 400px;">
                                        </div>

                                        <p class="f1-s-11 cl6 p-b-15 p-t-40">
                                            <%- selectedNews.content %>
                                        </p>

                                        <!-- Tag -->
                                        <div class="flex-s-s p-t-12 p-b-15">
                                            <span class="f1-s-12 cl5 m-r-8">
                                                Tags:
                                            </span>

                                            <div class="flex-wr-s-s size-w-0">
                                                <% selectedNews.news_tags.forEach((news_tag)=> { %>
                                                    <a href="/news?tag=<%= news_tag.tag.key %>"
                                                        class="f1-s-12 cl8 hov-link1 m-r-15 text-decoration-none">
                                                        <%= news_tag.tag.name %>
                                                    </a>
                                                    <% }) %>
                                            </div>
                                        </div>

                                        <!-- Share -->
                                        <div class="flex-s-s p-b-50">
                                            <span class="f1-s-12 cl5 p-t-1 m-r-15">
                                                Xəbəri paylaş:
                                            </span>

                                            <div class="flex-wr-s-s size-w-0">
                                                <a href="https://www.facebook.com/sharer.php?u=https://sporter.az/news/news-detail?key=<%= selectedNews.key %>"
                                                    class="dis-block f1-s-13 cl0 bg-facebook borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03 text-decoration-none"
                                                    target="_blank">
                                                    <i class="fab fa-facebook-f m-r-7"></i>
                                                    Facebook
                                                </a>

                                                <a href="https://twitter.com/intent/post?url=https://sporter.az/news/news-detail?key=<%= selectedNews.key %>&text=<%= selectedNews.title %>"
                                                    class="dis-block f1-s-13 cl0 bg-twitter borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03 text-decoration-none"
                                                    target="_blank">
                                                    <i class="fab fa-twitter m-r-7"></i>
                                                    Twitter
                                                </a>

                                                <a href="https://wa.me/?text=https://sporter.az/news/news-detail?key=<%= selectedNews.key %>"
                                                    class="dis-block f1-s-13 cl0 bg-whatsapp borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03 text-decoration-none"
                                                    target="_blank">
                                                    <i class="fab fa-whatsapp m-r-7"></i>
                                                    Whatsapp
                                                </a>

                                                <a href="https://telegram.me/share/url?url=https://sporter.az/news/news-detail?key=<%= selectedNews.key %>"
                                                    class="dis-block f1-s-13 cl0 bg-telegram borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03 text-decoration-none"
                                                    target="_blank">
                                                    <i class="fab fa-telegram m-r-7"></i>
                                                    Telegram
                                                </a>
                                            </div>
                                        </div>


                                        <!-- Banner -->
                                        <div class="container bg0">
                                            <div class="flex-c-c justify-content-around flex-lg-row flex-column"
                                                style="row-gap: 10px;">
                                                <a href="#">
                                                    <img class="max-w-full" src="/images/banners/banner_300x250.png"
                                                        alt="IMG">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Sidebar -->
                            <div class="col-md-10 col-lg-4 p-b-30">
                                <div class="p-l-10 p-rl-0-sr991 p-t-70">
                                    <div class="flex-c-s p-b-20">
                                        <a href="#">
                                            <img class="max-w-full" src="/images/banners/banner_320x100.png" alt="IMG">
                                        </a>
                                    </div>
                                    <%- include('./items/category_list') %>
                                        <%- include('./items/most_popular') %>
                                            <%- include('./items/tags') %>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div id="right-banner" class="d-none d-lg-block">
                <a href="#">
                    <img src="/images/banners/banner_160x600.png" alt="Banner"
                        style="max-width: 100%; height: auto; display: block;">
                </a>
            </div>
        </div>

        <%- include('./_partials/footer') %>