<!-- Footer -->
<footer>
    <div class="bg2 p-t-40 p-b-25">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-4 p-b-20">
                    <div class="size-h-3 flex-s-c">
                        <a href="/" class="text-decoration-none">
                            <img class="w-100" src="/images/icons/logo.webp" style="padding-right:10px;max-width:250px;width:100%;height:100%" alt="SporterAz">
                        </a>
                    </div>

                    <div>
                        <p class="f1-s-1 cl0 p-b-16">
                            Müxtəlif idman kateqoriyalarına aid xəbərlər və mövzu üzrə multimedia materialları ilə saytımızda tanış ola bilərsiniz. "Sporter" sosial şəbəkələr və digər platformalarda da cəlbedici layihələri ilə xidmətinizdə olacaqdır. Bizi izləməyi unutmayın.
                        </p>

                        <p class="f1-s-1 cl0 p-b-16">
                            Sualınız var? Bizimlə əlaqə <a style="color: #fff;" href="tel:+994(51)6025902">+994 (51) 602-59-02</a>
                        </p>

                        <div class="p-t-15">
                            <% platformSocialMedias.forEach((media) => { %>
                                <a href="<%= media.social_media.link %><%= media.linkSlug %>" class="fs-18 cl11 hov-cl10 trans-03 m-r-8 text-decoration-none" target="_blank" title="<%= media.social_media.name %>">
                                    <%- media.social_media.icon %>
                                </a>
                            <% }) %>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4 p-b-20">
                    <div class="size-h-3 flex-s-c">
                        <span class="f1-m-7 cl0">
                            Xəbərlər
                        </span>
                    </div>
                    <ul class="p-0">
                        <% lastThreeNews.forEach((news) => { %>
                            <li class="flex-wr-sb-s p-b-20">
                                <a href="/news/news-detail?key=<%= news.key %>" class="size-w-4 wrap-pic-w hov1 trans-03 text-decoration-none">
                                    <img src="/images/news/<%= news.img %>" alt="<%= news.title %>" title="<%= news.title %>" class="object-fit-cover lazyload"  loading="lazy" style="aspect-ratio: 4/3;">
                                </a>
                                <div class="size-w-5">
                                    <a href="/news/news-detail?key=<%= news.key %>" title="<%= news.title %>" class="p-b-5 f1-s-5 cl0 hov-cl10 trans-03 text-decoration-none d-block">
                                        <%= news.title %>
                                    </a>
                                    <span class="f1-s-3 cl0">
                                        <%= moment(news.createdAt).format('LL') %>
                                    </span>
                                </div>
                            </li>
                        <% }) %>
                    </ul>
                </div>

                <div class="col-sm-6 col-lg-4 p-b-20">
                    <div class="size-h-3 flex-s-c">
                        <span class="f1-m-7 cl0">
                            Kateqoriyalar
                        </span>
                    </div>
                    <ul class="m-t--12 p-0">
                        <% popularCategories.forEach((populatCategory) => { %>
                            <li class="how-bor1 p-rl-5 p-tb-10">
                                <a href="/news?category=<%= populatCategory.category.key %>" class="f1-s-5 cl0 hov-cl10 trans-03 p-tb-8 text-decoration-none" title="<%= populatCategory.category.name %>">
                                    <%= populatCategory.category.name %> (<%= populatCategory.dataValues.newsCount %>)
                                </a>
                            </li>
                        <% }) %>
                    </ul>

                    <!-- Banner -->
                    <div class="banner-header">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg11">
        <div class="container size-h-4 flex-c-c p-tb-15">
            <span class="f1-s-1 cl0 txt-center">
                Copyright © 2024
                <a href="/" class="f1-s-1 cl10 hov-link1 text-decoration-none">Sporter.az</a>.
                Məlumatlardan istifadə olunduqda istinad mütləqdir.
            </span>
        </div>
    </div>
</footer>

<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
    <span class="symbol-btn-back-to-top">
        <span class="fas fa-angle-up"></span>
    </span>
</div>

<!--===============================================================================================-->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous" defer></script>
<!--===============================================================================================-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
<!--===============================================================================================-->
<script src="https://afarkas.github.io/lazysizes/lazysizes.min.js" defer></script>
<!--===============================================================================================-->
<script src="/javascripts/index/main.min.js" defer></script>
<script src="/javascripts/index/custom.min.js" defer></script>
</body>

</html>