<!-- Footer -->
<footer>
    <div class="bg2 p-t-40 p-b-25">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 p-b-20">
                    <div class="size-h-3 flex-s-c">
                        <a href="/" class="text-decoration-none">
                            <img class="max-s-full" src="/images/icons/logo-03.png" style="padding-right: 10px;" alt="SporterAz">
                        </a>
                    </div>

                    <div>
                        <p class="f1-s-1 cl11 p-b-16">
                            Müxtəlif idman kateqoriyalarına aid xəbərlər və mövzu üzrə multimedia materialları ilə saytımızda tanış ola bilərsiniz. "Sporter" sosial şəbəkələr və digər platformalarda da cəlbedici layihələri ilə xidmətinizdə olacaqdır. Bizi izləməyi unutmayın.
                        </p>

                        <p class="f1-s-1 cl11 p-b-16">
                            Sualınız var? Bizimlə əlaqə <a class="text-decoration-none" style="color: #fff;" href="tel:+994(51)6025902">+994 (51) 602-59-02</a>
                        </p>

                        <div class="p-t-15">
                            <% platformSocialMedias.forEach((media) => { %>
                                <a href="<%= media.social_media.link %><%= media.linkSlug %>" class="fs-18 cl11 hov-cl10 trans-03 m-r-8 text-decoration-none" target="_blank" title="<%= media.social_media.name %>">
                                    <%- media.social_media.icon %>
                                </a>
                            <% }) %>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4 p-b-20">
                    <div class="size-h-3 flex-s-c">
                        <h5 class="f1-m-7 cl0">
                            Xəbərlər
                        </h5>
                    </div>
                    <ul>
                        <% lastThreeNews.forEach((news) => { %>
                            <li class="flex-wr-sb-s p-b-20">
                                <a href="/news/news-detail?key=<%= news.key %>" class="size-w-4 wrap-pic-w hov1 trans-03 text-decoration-none">
                                    <img src="/images/news/<%= news.img %>" alt="<%= news.title %>" title="<%= news.title %>" class="object-fit-cover" style="aspect-ratio: 4/3;">
                                </a>
                                <div class="size-w-5">
                                    <h6 class="p-b-5">
                                        <a href="/news/news-detail?key=<%= news.key %>" class="f1-s-5 cl11 hov-cl10 trans-03 text-decoration-none">
                                            <%= news.title %>
                                        </a>
                                    </h6>
                                    <span class="f1-s-3 cl6">
                                        <%= moment(news.createdAt).format('LL') %>
                                    </span>
                                </div>
                            </li>
                        <% }) %>
                    </ul>
                </div>

                <div class="col-sm-6 col-lg-4 p-b-20">
                    <div class="size-h-3 flex-s-c">
                        <h5 class="f1-m-7 cl0">
                            Kateqoriyalar
                        </h5>
                    </div>
                    <ul class="m-t--12">
                        <% popularCategories.forEach((populatCategory) => { %>
                            <li class="how-bor1 p-rl-5 p-tb-10">
                                <a href="/news?category=<%= populatCategory.category.key %>" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8 text-decoration-none">
                                    <%= populatCategory.category.name %> (<%= populatCategory.dataValues.newsCount %>)
                                </a>
                            </li>
                        <% }) %>
                    </ul>

                    <!-- Banner -->
                    <div class="banner-header">
                        <a href="/">
                            <img src="/images/banners/banner_320x50.png" alt="Banner">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg11">
        <div class="container size-h-4 flex-c-c p-tb-15">
            <span class="f1-s-1 cl0 txt-center">
                Copyright © 2024
                <a href="/" class="f1-s-1 cl10 hov-link1 text-decoration-none">Sporter.az</a>.
                Məlumatlardan istifadə olunduqda istinad mütləqdir.
            </span>
        </div>
    </div>
</footer>

<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
    <span class="symbol-btn-back-to-top">
        <span class="fas fa-angle-up"></span>
    </span>
</div>

<!--===============================================================================================-->
<script src="/libs/vendor/index/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/libs/vendor/index/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="/libs/vendor/index/bootstrap/js/popper.min.js"></script>
<script src="/libs/vendor/index/bootstrap/js/bootstrap.min.js"></script>

<!--===============================================================================================-->
<script src="/javascripts/index/main.js"></script>
<script src="/javascripts/index/custom.js"></script>
</body>

</html>