<!-- Header -->
<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <div class="topbar">
            <div class="content-topbar container h-100">
                <div class="left-topbar">
                    <span class="left-topbar-item flex-wr-s-c">
                        <span class="m-r-5">
                            Bakı, AZ
                        </span>
                        -
                        <span class="m-l-5">
                            <%= moment().tz('Asia/Baku').format('LLLL') %>
                        </span>
                    </span>

                    <a href="/" class="left-topbar-item text-decoration-none">
                        Ana səhifə
                    </a>
                    <a href="/about" class="left-topbar-item text-decoration-none">
                        Haqqımızda
                    </a>
                    <a href="/contact" class="left-topbar-item text-decoration-none">
                        Əlaqə
                    </a>
                </div>

                <div class="right-topbar">
                    <% platformSocialMedias.forEach((media) => { %>
                        <a href="<%= media.social_media.link %><%= media.linkSlug %>" class="text-decoration-none" target="_blank" title="<%= media.social_media.name %>">
                            <%- media.social_media.icon %>
                        </a>
                    <% }) %>
                </div>
            </div>
        </div>
        <!-- Header Mobile -->
        <div class="wrap-header-mobile">
            <!-- Logo moblie -->
            <div class="logo-mobile">
                <a href="/" class="text-decoration-none">
                    <img src="/images/icons/logo.webp" alt="SporterAz">
                </a>
            </div>

            <!-- Button show menu -->
            <div class="btn-show-menu-mobile m-r--8">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>

        <!-- Menu Mobile -->
        <div class="menu-mobile">
            <ul class="topbar-mobile">
                <li class="left-topbar">
                    <span class="left-topbar-item flex-wr-s-c">
                        <span class="m-r-5">
                            Bakı, AZ
                        </span>
                        - 
                        <span class="m-l-5">
                            <%= moment().tz('Asia/Baku').format('LLLL') %>
                        </span>
                    </span>
                </li>

                <li class="left-topbar">
                    <a href="/" class="left-topbar-item text-decoration-none">
                        Ana səhifə
                    </a>
                    <a href="/about" class="left-topbar-item text-decoration-none">
                        Haqqımızda
                    </a>
                    <a href="/contact" class="left-topbar-item text-decoration-none">
                        Əlaqə
                    </a>
                </li>

                <div class="right-topbar">
                    <% platformSocialMedias.forEach((media) => { %>
                        <a href="<%= media.social_media.link %><%= media.linkSlug %>" class="text-decoration-none" target="_blank" title="<%= media.social_media.name %>">
                            <%- media.social_media.icon %>
                        </a>
                    <% }) %>
                </div>
            </ul>
            <ul class="main-menu-m">
                <li class="<%= key === 'home' ? 'main-menu-m-active' : '' %>">
                    <a href="/" class="text-decoration-none"> Ana səhifə </a>
                </li>
                <li class="<%= key === 'about' ? 'main-menu-m-active' : '' %>">
                    <a href="/about" class="text-decoration-none"> Haqqımızda </a>
                </li>
                <li class="<%= key === 'news' ? 'main-menu-m-active' : '' %>">
                    <a href="/news" class="text-decoration-none"> Xəbərlər </a>
                </li>
            </ul>
        </div>

        <!--  -->
        <div class="wrap-logo container d-none d-lg-flex">
            <!-- Logo desktop -->
            <div class="logo">
                <a href="/" class="d-none d-lg-block text-decoration-none" title="SporterAz">
                    <img src="/images/icons/logo.webp" alt="SporterAz" style="padding-right:10px;max-width:250px;width:100%;height:100%;">
                </a>
            </div>
        </div>

        <!--  -->
        <div class="wrap-main-nav">
            <div class="main-nav">
                <!-- Menu desktop -->
                <nav class="menu-desktop">
                    <a class="logo-stick" href="/" title="SporterAz">
                        <img src="/images/icons/logo.webp" alt="SporterAz">
                    </a>
                    <ul class="main-menu" style="column-gap: 10px;">
                        <li class="<%= key === 'home' ? 'main-menu-active' : '' %>">
                            <a href="/" class="text-decoration-none"> Ana səhifə </a>
                        </li>
                        <li class="<%= key === 'about' ? 'main-menu-active' : '' %>">
                            <a href="/about" class="text-decoration-none"> Haqqımızda </a>
                        </li>
                        <li class="<%= key === 'news' ? 'main-menu-active' : '' %>">
                            <a href="/news" class="text-decoration-none"> Xəbərlər </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>