<!-- Header -->
<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <!-- Header Mobile -->
        <div class="wrap-header-mobile">
            <!-- Logo moblie -->
            <div class="logo-mobile">
                <a href="/"><img src="/images/icons/logo-03.png" alt="IMG-LOGO"></a>
                <!-- <a href="/" style="color: #fff; font-size: 28px; font-weight: bold; text-transform: uppercase;" title="Logo">Sporter</a> -->
            </div>

            <!-- Button show menu -->
            <div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>

        <!-- Menu Mobile -->
        <div class="menu-mobile">
            <ul class="main-menu-m">
                <li class="<%= key === 'home' ? 'main-menu-m-active' : '' %>">
                    <a href="/"> Ana səhifə </a>
                </li>
                <li class="<%= key === 'about' ? 'main-menu-m-active' : '' %>">
                    <a href="/about"> Haqqımızda </a>
                </li>
                <li class="<%= key === 'news' ? 'main-menu-m-active' : '' %>">
                    <a href="/news"> Xəbərlər </a>
                </li>
            </ul>
        </div>

        <!--  -->
        <div class="wrap-logo container">
            <!-- Logo desktop -->
            <div class="logo">

                <a href="/" class="d-flex">
                    <!-- <img src="/images/icons/favicon.png" alt="LOGO"> -->
                    <img src="/images/icons/logo-03.png" alt="LOGO">
                </a>
                <!-- <a href="/" style="color: #fff; font-size: 56px; font-weight: bold; text-transform: uppercase;" title="Logo">Sporter</a> -->
            </div>

            <!-- Banner -->
            <div class="banner-header">
                <a href="/">
                    <img src="/images/banners/banner-01.jpg" alt="IMG">
                </a>
            </div>
        </div>

        <!--  -->
        <div class="wrap-main-nav">
            <div class="main-nav">
                <!-- Menu desktop -->
                <nav class="menu-desktop">
                    <a class="logo-stick" href="/">
                        <img src="/images/icons/logo-03.png" alt="LOGO">
                        <!-- <a href="/" style="color: #fff; font-size: 20px; font-weight: bold; text-transform: uppercase; margin-right: 10px;" title="Logo">Sporter</a> -->
                    </a>

                    <ul class="main-menu" style="column-gap: 10px;">
                        <li class="<%= key === 'home' ? 'main-menu-active' : '' %>">
                            <a href="/"> Ana səhifə </a>
                        </li>
                        <li class="<%= key === 'about' ? 'main-menu-active' : '' %>">
                            <a href="/about"> Haqqımızda </a>
                        </li>
                        <li class="<%= key === 'news' ? 'main-menu-active' : '' %>">
                            <a href="/news"> Xəbərlər </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>