<!-- Header -->
<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <!-- Header Mobile -->
        <div class="wrap-header-mobile">
            <!-- Logo moblie -->
            <div class="logo-mobile">
                <a href="/" class="text-decoration-none">
                    <img src="/images/icons/logo.png" alt="SporterAz">
                </a>
            </div>

            <!-- Button show menu -->
            <div class="btn-show-menu-mobile m-r--8">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>

        <!-- Menu Mobile -->
        <div class="menu-mobile">
            <ul class="main-menu-m">
                <li class="<%= key === 'home' ? 'main-menu-m-active' : '' %>">
                    <a href="/" class="text-decoration-none"> Ana səhifə </a>
                </li>
                <li class="<%= key === 'about' ? 'main-menu-m-active' : '' %>">
                    <a href="/about" class="text-decoration-none"> Haqqımızda </a>
                </li>
                <li class="<%= key === 'news' ? 'main-menu-m-active' : '' %>">
                    <a href="/news" class="text-decoration-none"> Xəbərlər </a>
                </li>
            </ul>
        </div>

        <!--  -->
        <div class="wrap-logo container d-none d-lg-flex">
            <!-- Logo desktop -->
            <div class="logo">
                <a href="/" class="d-none d-lg-block text-decoration-none" title="SporterAz">
                    <img src="/images/icons/logo.png" alt="SporterAz" style="padding-right:10px;max-width:250px;width:100%;height:100%;">
                </a>
            </div>
        </div>

        <!--  -->
        <div class="wrap-main-nav">
            <div class="main-nav">
                <!-- Menu desktop -->
                <nav class="menu-desktop">
                    <a class="logo-stick" href="/" title="SporterAz">
                        <img src="/images/icons/logo.png" alt="SporterAz">
                    </a>
                    <ul class="main-menu" style="column-gap: 10px;">
                        <li class="<%= key === 'home' ? 'main-menu-active' : '' %>">
                            <a href="/" class="text-decoration-none"> Ana səhifə </a>
                        </li>
                        <li class="<%= key === 'about' ? 'main-menu-active' : '' %>">
                            <a href="/about" class="text-decoration-none"> Haqqımızda </a>
                        </li>
                        <li class="<%= key === 'news' ? 'main-menu-active' : '' %>">
                            <a href="/news" class="text-decoration-none"> Xəbərlər </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>