<%- include('../_partials/header') %>
    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="py-3 mb-4"><span class="text-muted fw-light">Xəbərlər /</span>
                <%= title %>
            </h4>

            <!-- Hoverable Table rows -->
            <div class="card">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="card-header">
                        <%= title %>
                    </h5>
                    <button type="button" id="createBtn" class="btn btn-primary m-3" data-bs-toggle="modal"
                        data-bs-target="#basicModal" data-action="/admin/create-news"> <span
                            class="d-none d-md-block">Yarat</span> <span class="d-block d-md-none"><i
                                class='bx bx-plus-circle'></i></span> </button>
                </div>
                <div class="table-responsive text-nowrap">
                    <table class="table table-hover" id="dataTable">
                        <caption class="ms-4">
                            Ümumi tapılan xəbərlər: <%= news.length %>
                        </caption>
                        <thead>
                            <tr class="text-center">
                                <th>#</th>
                                <th>Titul</th>
                                <th>Kateqoriya</th>
                                <th>Taqlar</th>
                                <th>Status</th>
                                <th>Hərəkətlər</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0 text-center" id="news-items">
                            <% news.forEach((nws, id)=> { %>
                                <tr>
                                    <td>
                                        <span class="fw-medium">
                                            <%= id + 1 %>
                                        </span>
                                    </td>
                                    <td class="text-wrap">
                                        <%= nws.title %>
                                    </td>
                                    <td>
                                        <% if (nws.category) { %>
                                            <%= nws.category.name %> 
                                            <% if (nws.category.status) { %>
                                                <i class='bx bx-check-circle' style="color: #198754;"></i>
                                            <% } else { %>
                                                <i class='bx bx-x-circle' style="color: #ED4337"></i>
                                            <% } %>
                                        <% } else { %>
                                            Təyin edilmədi <i class='bx bx-x-circle' style="color: #ED4337"></i>
                                        <% } %>
                                    </td>
                                    <td class="text-wrap">
                                        <% nws.news_tags.forEach((news_tag)=> { %>
                                            <% if (news_tag && news_tag.tag) { %>
                                                <span class="badge bg-label-success me-1">
                                                    <%= news_tag.tag.name %>
                                                </span>
                                            <% } %>
                                        <% }) %>
                                    </td>
                                    <td>
                                        <% if (nws.status==true) { %>
                                            <span class="badge bg-label-primary me-1">Aktiv</span>
                                        <% } else { %>
                                            <span class="badge bg-label-danger me-1">Passiv</span>
                                        <% } %>
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                                data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item editBtn" href="javascript:void(0);"
                                                    data-bs-toggle="modal" data-bs-target="#basicModal"
                                                    data-action="/admin/edit-news?id=<%= nws.id %>"
                                                    data-id="<%= nws.id %>" data-item="news">
                                                    <i class="bx bx-edit-alt me-1"></i> Düzəlt
                                                </a>
                                                <a class="dropdown-item deleteBtn" href="javascript:void(0);"
                                                    data-action="/admin/delete-news?id=<%= nws.id %>"
                                                    data-bs-toggle="modal" data-bs-target="#deleteModal"
                                                    data-item="news">
                                                    <i class="bx bx-trash me-1"></i> Sil
                                                </a>
                                                <a class="dropdown-item" href="/news/news-detail?key=<%= nws.key %>">
                                                    <i class='bx bx-link-alt'></i> Xəbərə get
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center" id="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">
                                    <i class='bx bx-skip-previous'></i>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <i class='bx bx-skip-next'></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!--/ Hoverable Table rows -->
        </div>
        <!-- / Content -->

        <div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">
                            <%= title %>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="basicForm" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label class="form-label" for="title">Titul</label>
                                <input type="text" class="form-control" id="title" name="title" placeholder="Adı" required>
                            </div>
                            <div class="mb-3">
                                <label for="img" class="form-label">Şəkil</label>
                                <input class="form-control" type="file" id="img" accept="image/*"> <!-- name="img" -->
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="description">Məzmun</label>
                                <div id="editor"></div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-12 col-sm-5">
                                    <label for="category" class="form-label">Kateqoriya</label>
                                    <select class="form-select" id="category" aria-label="Select item category" required>
                                        <option selected hidden disabled>Seçim edin</option>
                                        <% categories.forEach((category)=> { %>
                                            <option value="<%= category.id %>">
                                                <%= category.name %>
                                            </option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="mb-3 col-12 col-sm-4">
                                    <label for="subCategory" class="form-label">Alt Kateqoriya</label>
                                    <select class="form-select" id="subCategory" aria-label="Select item sub-category" required>
                                        <option selected hidden disabled>Seçim edin</option>
                                    </select>
                                </div>
                                <div class="mb-3 col-12 col-sm-3">
                                    <label for="headNews" class="form-label"> Əsas xəbər </label>
                                    <select class="form-select" id="headNews" aria-label="Select head news">
                                        <option selected hidden disabled>Seçim edin</option>
                                        <option value="0">Passiv</option>
                                        <option value="1">Aktiv</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Taglar</label>
                                <br />
                                <% tags.forEach((tag)=> { %>
                                    <div class="form-check form-check-inline mb-3">
                                        <input class="form-check-input" type="checkbox" id="tag" value="<%= tag.id %>">
                                        <label class="form-check-label">
                                            <%= tag.name %>
                                        </label>
                                    </div>
                                <% }) %>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-12 col-sm-4">
                                    <label for="status" class="form-label">Status</label>
                                    <select class="form-select" id="status" aria-label="Select item status">
                                        <option selected hidden disabled>Seçim edin</option>
                                        <option value="0">Passiv</option>
                                        <option value="1">Aktiv</option>
                                    </select>
                                </div>
                                <div class="mb-3 col-12 col-sm-4">
                                    <label for="date" class="form-label">Tarix</label>
                                    <input type="date" class="form-control" id="date">
                                </div>
                                <div class="mb-3 col-12 col-sm-4">
                                    <label for="time" class="form-label">Saat</label>
                                    <input type="time" class="form-control" id="time">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" data-item="news"> Təsdiqlə </button>
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"> Bağla </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"> Sil </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="deleteForm">
                            <div class="mb-3">
                                <p> Bunu etmək istədiyinizə əminsiniz? </p>
                            </div>
                            <button type="submit" class="btn btn-danger"> Sil </button>
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"> Bağla </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div style="display: none" class="alert-modal flex-column align-items-center" id="alert-message">
            <i></i>
            <p></p>
        </div>

        <script>
            let editorInstance;
            // This sample still does not showcase all CKEditor&nbsp;5 features (!)
            // Visit https://ckeditor.com/docs/ckeditor5/latest/features/index.html to browse all the features.
            CKEDITOR.ClassicEditor.create(document.getElementById("editor"), {
                // https://ckeditor.com/docs/ckeditor5/latest/features/toolbar/toolbar.html#extended-toolbar-configuration-format
                toolbar: {
                    items: [
                        'exportPDF', 'exportWord', '|',
                        'findAndReplace', 'selectAll', '|',
                        'heading', '|',
                        'bold', 'italic', 'strikethrough', 'underline', 'code', 'subscript', 'superscript', 'removeFormat', '|',
                        'bulletedList', 'numberedList', 'todoList', '|',
                        'outdent', 'indent', '|',
                        'undo', 'redo',
                        '-',
                        'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', 'highlight', '|',
                        'alignment', '|',
                        'link', 'insertImage', 'blockQuote', 'insertTable', 'mediaEmbed', 'codeBlock', 'htmlEmbed', '|',
                        'specialCharacters', 'horizontalLine', 'pageBreak', '|',
                        'textPartLanguage', '|',
                        'sourceEditing'
                    ],
                    shouldNotGroupWhenFull: true
                },
                // Changing the language of the interface requires loading the language file using the <script> tag.
                language: 'en',
                list: {
                    properties: {
                        styles: true,
                        startIndex: true,
                        reversed: true
                    }
                },
                // https://ckeditor.com/docs/ckeditor5/latest/features/headings.html#configuration
                heading: {
                    options: [
                        { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                        { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                        { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                        { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                        { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                        { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                        { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
                    ]
                },
                // https://ckeditor.com/docs/ckeditor5/latest/features/editor-placeholder.html#using-the-editor-configuration
                placeholder: 'Mətni buarada qeyd edin!',
                // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-family-feature
                fontFamily: {
                    options: [
                        'default',
                        'Arial, Helvetica, sans-serif',
                        'Courier New, Courier, monospace',
                        'Georgia, serif',
                        'Lucida Sans Unicode, Lucida Grande, sans-serif',
                        'Tahoma, Geneva, sans-serif',
                        'Times New Roman, Times, serif',
                        'Trebuchet MS, Helvetica, sans-serif',
                        'Verdana, Geneva, sans-serif'
                    ],
                    supportAllValues: true
                },
                // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-size-feature
                fontSize: {
                    options: [10, 12, 14, 'default', 18, 20, 22],
                    supportAllValues: true
                },
                // Be careful with the setting below. It instructs CKEditor to accept ALL HTML markup.
                // https://ckeditor.com/docs/ckeditor5/latest/features/general-html-support.html#enabling-all-html-features
                htmlSupport: {
                    allow: [
                        {
                            name: /.*/,
                            attributes: true,
                            classes: true,
                            styles: true
                        }
                    ]
                },
                // Be careful with enabling previews
                // https://ckeditor.com/docs/ckeditor5/latest/features/html-embed.html#content-previews
                htmlEmbed: {
                    showPreviews: true
                },
                // https://ckeditor.com/docs/ckeditor5/latest/features/link.html#custom-link-attributes-decorators
                link: {
                    decorators: {
                        addTargetToExternalLinks: true,
                        defaultProtocol: 'https://',
                        toggleDownloadable: {
                            mode: 'manual',
                            label: 'Downloadable',
                            attributes: {
                                download: 'file'
                            }
                        }
                    }
                },
                // https://ckeditor.com/docs/ckeditor5/latest/features/mentions.html#configuration
                mention: {
                    feeds: [
                        {
                            marker: '@',
                            feed: [
                                '@apple', '@bears', '@brownie', '@cake', '@cake', '@candy', '@canes', '@chocolate', '@cookie', '@cotton', '@cream',
                                '@cupcake', '@danish', '@donut', '@dragée', '@fruitcake', '@gingerbread', '@gummi', '@ice', '@jelly-o',
                                '@liquorice', '@macaroon', '@marzipan', '@oat', '@pie', '@plum', '@pudding', '@sesame', '@snaps', '@soufflé',
                                '@sugar', '@sweet', '@topping', '@wafer', '@galib'
                            ],
                            minimumCharacters: 1
                        }
                    ]
                },
                // The "super-build" contains more premium features that require additional configuration, disable them below.
                // Do not turn them on unless you read the documentation and know how to configure them and setup the editor.
                removePlugins: [
                    // These two are commercial, but you can try them out without registering to a trial.
                    // 'ExportPdf',
                    // 'ExportWord',
                    'CKBox',
                    'CKFinder',
                    'EasyImage',
                    // This sample uses the Base64UploadAdapter to handle image uploads as it requires no configuration.
                    // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/base64-upload-adapter.html
                    // Storing images as Base64 is usually a very bad idea.
                    // Replace it on production website with other solutions:
                    // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/image-upload.html
                    // 'Base64UploadAdapter',
                    'RealTimeCollaborativeComments',
                    'RealTimeCollaborativeTrackChanges',
                    'RealTimeCollaborativeRevisionHistory',
                    'PresenceList',
                    'Comments',
                    'TrackChanges',
                    'TrackChangesData',
                    'RevisionHistory',
                    'Pagination',
                    'WProofreader',
                    // Careful, with the Mathtype plugin CKEditor will not load when loading this sample
                    // from a local file system (file://) - load this site via HTTP server if you enable MathType.
                    'MathType',
                    // The following features are part of the Productivity Pack and require additional license.
                    'SlashCommand',
                    'Template',
                    'DocumentOutline',
                    'FormatPainter',
                    'TableOfContents',
                    'PasteFromOfficeEnhanced'
                ]
            })
                .then(editor => {
                    editorInstance = editor;
                })
                .catch(error => {
                    console.log(error);
                });
        </script>

        <%- include('../_partials/footer') %>