<%- include('../_partials/header') %>
    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="py-3 mb-4"><span class="text-muted fw-light">Xəbərlər /</span> <%= title %> </h4>

            <!-- Hoverable Table rows -->
            <div class="card">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="card-header"><%= title %></h5>
                    <button type="button" id="createBtn" class="btn btn-primary m-3" data-bs-toggle="modal" data-bs-target="#basicModal" data-action="/admin/create-tag"> <span class="d-none d-md-block">Yarat</span> <span class="d-block d-md-none lh-1"><i class='bx bx-plus-circle'></i></span> </button>
                </div>
                <div class="table-responsive text-nowrap">
                    <table class="table table-hover">
                        <caption class="ms-4">
                            Ümumi tapılan taglar: <%= tags.length %>
                        </caption>
                        <thead>
                            <tr class="text-center">
                                <th>#</th>
                                <th>Adı</th>
                                <th>Key</th>
                                <th>Status</th>
                                <th>Hərəkətlər</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0 text-center">
                            <%- tags.length == 0 ? '<tr><td colspan="6">Hal-hazırda heç bir tag materialı əldə olunmadı.</td></tr>' : '' %>
                            <% tags.forEach((tag, id)=> { %>
                                <tr>
                                    <td>
                                        <span class="fw-medium">
                                            <%= id + 1 %>
                                        </span>
                                    </td>
                                    <td>
                                        <%= tag.name %>
                                    </td>
                                    <td>
                                        <%= tag.key %>
                                    </td>
                                    <td>
                                        <% if (tag.status==true) { %>
                                            <span class="badge bg-label-primary me-1">Aktiv</span>
                                        <% } else { %>
                                            <span class="badge bg-label-danger me-1">Passiv</span>
                                        <% } %>
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item editBtn" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#basicModal" data-action="/admin/edit-tag?id=<%= tag.id %>" data-item="tag" data-id="<%= tag.id %>">
                                                    <i class="bx bx-edit-alt me-1"></i> Düzəlt
                                                </a>
                                                <a class="dropdown-item deleteBtn" href="javascript:void(0);" data-action="/admin/delete-tag?id=<%= tag.id %>" data-bs-toggle="modal" data-item="tag" data-bs-target="#deleteModal">
                                                    <i class="bx bx-trash me-1"></i> Sil
                                                </a>
                                                <a class="dropdown-item" href="/news?tag=<%= tag.key %>">
                                                    <i class='bx bx-link-alt'></i> Linkə get
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--/ Hoverable Table rows -->
        </div>
        <!-- / Content -->

        <div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1"><%= title %></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="basicForm">
                            <div class="mb-3">
                                <label class="form-label" for="name">Ad</label>
                                <input type="text" class="form-control" id="name" placeholder="Adı" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="description">Məzmun</label>
                                <textarea id="description" class="form-control" placeholder="Təsviri"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="status" class="form-label">Status</label>
                                <select class="form-select" id="status" aria-label="Select item status">
                                    <option selected="" hidden>Seçim edin</option>
                                    <option value="0">Passiv</option>
                                    <option value="1">Aktiv</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary" data-item="tags">Təsdiqlə</button>
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"> Bağla
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteModal" tabindex="-1"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Sil</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="deleteForm">
                            <div class="mb-3">
                                <p>Bunu etmək istədiyinizə əminsiniz?</p>
                            </div>
                            <button type="submit" class="btn btn-danger">Sil</button>
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"> Bağla </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div style="display: none" class="alert-modal flex-column align-items-center" id="alert-message">
            <i></i>
            <p></p>
        </div>
        <%- include('../_partials/footer') %>